@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';

.header {
    width: 100%;
    height: 130px;
    padding: 0 15px;
    background-color: v.$color_light;
    color: v.$color_dark;

    .nav {
        height: 130px;
        @include m.d-flex(start, center);

        &__logo {
            height: 100%;
            @include m.d-flex(center, center);

            &-icon {
                width: 93px;
                height: 43px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &__links {
            flex-grow: 1;

            .list {
                @include m.d-flex(center, center, nowrap, row, min(65px, 5vw), 0);

                &__item {
                    &-link {
                        font-size: v.$font_size_h4;
                        font-weight: 700;
                        color: v.$color_dark;
                        transition: color 0.22s;

                        @extend %hover-medium-dark;
                    }
                }
            }

            @media (max-width: v.$media-lg) {
                .list {
                    @include m.d-flex(center, center, nowrap, row, min(40px, 5vw), 0);

                    &__item{
                        &-link {
                            font-size: v.$font_size_h5;
                        }
                    }
                }

            }

        }

        &__user-controls {
            height: 100%;
            @include m.d-flex(center, center, nowrap, row, min(30px, 5vw), 0);

            .search__link-icon,
            .account__link-icon {
                width: 24px;
                height: 24px;
                transition: fill 0.22s, stroke 0.22s;

                @extend %hover-icon;
            }

            .btn__link {
                margin-left: 15px;
                width: 120px;
                height: 50px;
                border: none;
                border-radius: 8px;
                background-color: v.$color_dark;
                color: v.$color_white;
                font-size: v.$font_size_h5;
                font-weight: 500;
                transition: background-color 0.22s;

                @extend %hover-btn;
            }

        }
        @media (max-width: v.$media-md) {
            &__links {
                display: none;
            }
        }
    }
    @media (max-width: v.$media-md) {
        .nav {
            @include m.d-flex(center, center, nowrap, row, 60px, 0);
            position: relative;

            &__logo {
                position: absolute;
                left: 0;
                height: 100%;
                @include m.d-flex(start, center);
            }

            &__user-controls {
                @include m.d-flex(center, center, nowrap, row, min(15px, 5vw), 0);
            }
        }
    }

    @media (max-width: v.$media-sm) {
        
        .nav {
            &__user-controls {
                    .btn__link {
                        margin-left: 0;
                        width: 110px;
                        height: 35px;
                        font-size: v.$font_size_h5;
                    }
            }
        }
    }

    @media (max-width: v.$media-min) {
        .nav {
            @include m.d-flex(center, center, nowrap, row, 15px, 0);
            position: relative;

            &__logo {
                position: absolute;
                left: calc((100% / 2) - 13vw);
                bottom: 5px;
                height: 100%;
                @include m.d-flex(center, start);

                &-icon {
                    width: 93px;
                    height: 43px;
                }
            }
        }
    }
}
