@use 'variables' as v;

%hover-medium-dark {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            color: v.$color_medium-dark;
        }
    }
}

%hover-btn {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            background-color: v.$color_medium-dark;
        }
    }
}

%hover-icon {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            fill: v.$color_medium-dark;
            stroke: v.$color_medium-dark;
        }
    }
}