@use 'variables' as v;
@use 'mixins' as m;

.reviews-section {
    width: 100%;
    background-color: v.$color_light;
    padding: 60px 15px;

    .reviews {
        text-align: center;
        &__title {
            width: 100%;
            max-width: 450px;
            margin: 0 auto;
            font-size: v.$font_size_h2;
            color: v.$color_dark;
            margin-bottom: 50px;
        }

        &__wrapper {
            @include m.d-flex(center, stretch, wrap, row);
            gap: 40px;
            padding: 20px 0;
        }

        &__controls {
            margin: 45px 0 0 0;
            @include m.d-flex(center, center, nowrap, row);
            gap: 20px;
            &--prev {
                position: relative;
                width: 58px;
                height: 58px;
                border: none;
                border-radius: 50%;
                background-color: v.$color_dark;
            }

            &--next {
                position: relative;
                width: 58px;
                height: 58px;
                border: none;
                border-radius: 50%;
                background-color: v.$color_dark;
            }

            &-icon {
                width: 16px;
                height: 22px;
                fill: v.$color_white;

                &--prev {
                    position: absolute;
                    top: 30%;
                    left: 35%;
                    transform: rotate(180deg);
                }

                &--next {
                    position: absolute;
                    top: 30%;
                    left: 40%;
                }
            }
        }
    }
}

@media (max-width: v.$media-xl) {
    .reviews-section {
        .reviews {
            &__wrapper {
                gap: 40px;
            }
        }
    }
}

@media (max-width:v.$media-lg) {
    .reviews-section {
        .reviews {
            &__wrapper {
                gap: 30px;
            }
        }
    }
}

@media (max-width: v.$media-md) {
    .reviews-section {
        padding: 40px 15px;
        .reviews {
            &__title {
                margin-bottom: 30px;
            }
            
            &__wrapper {
                gap: 25px;
            }
        }
    }
}