@use 'variables' as v;
@use 'mixins' as m;
@use 'placeholders';

.support-section {
    width: 100%;
    max-width: 1230px;
    margin: 144px auto;
    padding: 0 15px;
    background-color: v.$color_white;

    .support {
        width: 100%;
        margin: 0 auto;
        @include m.d-flex(start, center, nowrap, column, 0, 34px);

        &__title {
            width: 100%;
            max-width: 660px;
            font-size: v.$font_size_h2;
            font-weight: 700;
            line-height: 1.3;
            color: v.$color_dark;
            text-align: center;
        }

        &__options {
            width: 100%;
            max-width: 585px;
            @include m.d-flex(space-between, center, wrap, row);
        }

        &__option {
            @include m.d-flex(center, center, wrap, row);
            gap: 8px;

            &-link {
                font-size: v.$font_size_h4;
                font-weight: 700;
                color: v.$color_medium-dark2x;
            }
        }

        &__form {
            width: 100%;
            max-width: 680px;
            @include m.d-flex(center, center, wrap, column);
            gap: 20px;

            &-group {
                position: relative;

                // &::before {
                //     position: absolute;
                //     content: url("../assets/icons/email-icon.svg");
                //     width: 24px;
                //     height: 24px;
                //     top: 50%;
                //     left: 25px;
                //     transform: translate(0, -50%);
                // }
            }

            .--form-email::before {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                    background-image: url("../assets/icons/email-icon.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
            }

           .--form-phone::before {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                    background-image: url("../assets/icons/phone-icon.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
            }

           .--form-name::before {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 24px;
                    top: 50%;
                    left: 25px;
                    transform: translateY(-50%);
                    background-image: url("../assets/icons/name-icon.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
            }

           .--form-message::before {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 24px;
                    top: 25%;
                    left: 25px;
                    transform: translateY(-50%);
                    background-image: url("../assets/icons/message-icon.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
            }

            &-input {
                width: 505px;
                height: 58px;
                padding: 18px 0 18px 56px;
                border: none;
                border-radius: 8px;
                background-color: v.$color_medium-light;
                color: v.$color_medium-dark2x;
                font-size: v.$font_size_h4;
                font-weight: 600;

                &::placeholder {
                    color: v.$color_medium-dark2x;
                    font-size: v.$font_size_h4;
                    font-weight: 600;
                }
            }
            
            &-input.error {
                border: 2px solid red;
            }
            
            textarea.support__form-input {
                resize: none;
                min-height: 120px;
            }

            &-btn {
                width: 155px;
                height: 58px;
                border: none;
                border-radius: 8px;
                background-color: v.$color_dark;
                color: v.$color_white;
                font-size: v.$font_size_h4;
                font-weight: 500;
                transition: background-color .22s ease;

                @extend %hover-btn;
            }

           &-btn:disabled {
                background-color: v.$color_medium-light;
                color: v.$color_medium-dark;
                cursor: not-allowed;
                opacity: 0.4;
            }

        }
    }
}

@media (max-width: v.$media-sm) {
    .support-section {
        .support {
            &__options {
                @include m.d-flex(center, center, wrap, row);
            }

            &__form {
                @include m.d-flex(center, center, wrap, column);
                gap: 20px;

                .--form-email::before,
                .--form-name::before,
                .--form-message::before,
                .--form-phone::before {
                    left: 10px;
                }

                &-input {
                    width: 370px;
                    height: 65px;
                    padding: 18px 0 18px 40px;

                    &::placeholder {
                        font-size: v.$font_size_h5;
                    }
                }
            }
        }
    }
}

@media (max-width: v.$media-min) {
    .support-section {
        .support {
            &__form {
                .--form-email::before,
                .--form-name::before,
                .--form-message::before,
                .--form-phone::before {
                    left: 10px;
                }

                &-input {
                    width: 300px;
                    padding: 18px 0 18px 40px;

                    &::placeholder {
                        font-size: v.$font_size_h5;
                    }
                }
            }
        }
    }
}

.form-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background: v.$color_dark;
    color: v.$color_white;
    padding: 15px 20px;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 
        opacity 0.3s ease,
        visibility 0.3s ease,
        transform 0.3s ease;
    z-index: 1000;

        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
}

.error-message {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: red;
    font-size: 14px;
}
