$color_white: #FFF;
$color_light: #FEF7F2;
$color_medium-light: #DDC7BB;
$color_medium-dark: #695346;
$color_dark: #2B1B12;

$font_size_h1: 75px;
$font_size_h2: 40px;
$font_size_h3: 20px;
$font_size_h4: 18px;
$font_size_h5: 16px;
$font_size_h6: 14px;

$media-xxl: 1400px;
$media-xl: 1200px;
$media-lg: 992px;
$media-md: 768px;
$media-sm: 576px;
$media-min: 428px;